body {
    margin: 0;
}

h1 {
    margin: 0;
}

.vitaminas img{

    margin:30px 20px 0 50px;

    width: 150px;
    height: 150px;
    border-radius: 15px;
    float: left;
    box-sizing: border-box;
    
}

.vitamina{
    border: #5e0681 3px solid;
    border-radius: 25px;
    margin-top: 10px;
    width: 900px;
    height: 195px;
    margin-left: 30px;
    opacity:0.8;
    background-color: #21022D;
}




.vitamina:hover{
    opacity: 1.0;
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);

}




.cabecalho{
    color: white;
    background-color: #21022d;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.bodyPage{
    background-color: #e2d8e7;
    color: #ffffff;
    margin: 24px;
}

.cardapio h2{
    color:black;
}

.cardapio h2 {
    padding-top: 16px;
    padding-left: 16px;
}

.vitaminas{
    margin-left: 64px;

}

.vitaminas h3 {
    padding-top: 32px;
}

.semlactose{
    text-align: center;
    margin-top: 64px;
}

.semlactose h2{
    margin-bottom: 32px;
}

.semlactose img{
    height: 300px;
    width: 600px;
}

.rodade{

    color: white;
    background-color: #21022d;


} 



.redesociais{
    float: left;
    background-color: #21022d;
    width: 50%;
    display: grid;
    color: white;
}

.endereco{
    float: right;
    background-color: #21022d;
    width: 50%;
    color: white;
    padding-bottom: 15px;
}

.whatsapp{
    font-family:'Arial Narrow Bold', sans-serif;
}

.instagram{
    font-family:'Arial Narrow Bold', sans-serif;
}



.instagram img{
    margin-top: 6px;
    margin-left: 60px;
    margin-right: 15px;
    height: 30px;
    width: 30px;
    float: left;
}

.whatsapp img{
    margin-top: 6px;
    margin-left: 50px;
    margin-right: 5px;
    height: 40px;
    width: 50px;
    float: left;
}

.redesociais h1{
    font-size: 24px;
}

.endereco h1{
    font-size: 24px;
}
.endereco p{
    font-size: 16px;
}

.whatsapp img:hover{
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    
}


.instagram img:hover{
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}